.container {
  height: 50px;
  background: #28a58e;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
}

.name {
  color: #fff;
  font-size: 1.1rem;
  font-weight: bold;
}

.logout {
  background: #fff;
  padding: 5px 10px;
  color: rgb(12, 6, 104);
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.logout:hover {
  background: rgb(85, 0, 241);
  color: #fff;
}
